@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.Bg-Profile {
    position: relative;
    width: 100vw;
    height: 94.6vh;
    top: 0;
    left: 0;
    background: #20262e;
    overflow: hidden;
}

.Bg-Profile span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.Bg-Profile span:nth-child(0) {
    color: #913175;
    top: 93%;
    left: 62%;
    animation-duration: 23s;
    animation-delay: -45s;
    transform-origin: -24vw -18vh;
    box-shadow: -40vmin 0 5.470686359148457vmin currentColor;
}

.Bg-Profile span:nth-child(1) {
    color: #cd5888;
    top: 72%;
    left: 29%;
    animation-duration: 48s;
    animation-delay: -41s;
    transform-origin: 19vw 19vh;
    box-shadow: -40vmin 0 5.795311783971897vmin currentColor;
}

.Bg-Profile span:nth-child(2) {
    color: #e9e8e8;
    top: 98%;
    left: 92%;
    animation-duration: 36s;
    animation-delay: -41s;
    transform-origin: 22vw -20vh;
    box-shadow: -40vmin 0 5.915540346207232vmin currentColor;
}

.Bg-Profile span:nth-child(3) {
    color: #cd5888;
    top: 90%;
    left: 34%;
    animation-duration: 33s;
    animation-delay: -39s;
    transform-origin: -15vw 11vh;
    box-shadow: 40vmin 0 5.100891902505359vmin currentColor;
}

.Bg-Profile span:nth-child(4) {
    color: #cd5888;
    top: 30%;
    left: 65%;
    animation-duration: 55s;
    animation-delay: -28s;
    transform-origin: 22vw 24vh;
    box-shadow: 40vmin 0 5.506315897490244vmin currentColor;
}

.Bg-Profile span:nth-child(5) {
    color: #cd5888;
    top: 14%;
    left: 90%;
    animation-duration: 8s;
    animation-delay: -23s;
    transform-origin: -9vw 4vh;
    box-shadow: -40vmin 0 5.300347153554483vmin currentColor;
}

.Bg-Profile span:nth-child(6) {
    color: #cd5888;
    top: 93%;
    left: 39%;
    animation-duration: 51s;
    animation-delay: -30s;
    transform-origin: 1vw -14vh;
    box-shadow: -40vmin 0 5.452398394562588vmin currentColor;
}

.Bg-Profile span:nth-child(7) {
    color: #e9e8e8;
    top: 77%;
    left: 13%;
    animation-duration: 10s;
    animation-delay: -14s;
    transform-origin: 1vw -9vh;
    box-shadow: 40vmin 0 5.7017882334033505vmin currentColor;
}

.Bg-Profile span:nth-child(8) {
    color: #e9e8e8;
    top: 49%;
    left: 32%;
    animation-duration: 11s;
    animation-delay: -16s;
    transform-origin: -20vw 9vh;
    box-shadow: -40vmin 0 5.601249711608588vmin currentColor;
}

.Bg-Profile span:nth-child(9) {
    color: #913175;
    top: 23%;
    left: 50%;
    animation-duration: 29s;
    animation-delay: -14s;
    transform-origin: -15vw 9vh;
    box-shadow: 40vmin 0 5.255330654764636vmin currentColor;
}

.Bg-Profile span:nth-child(10) {
    color: #cd5888;
    top: 84%;
    left: 85%;
    animation-duration: 10s;
    animation-delay: -4s;
    transform-origin: -7vw -15vh;
    box-shadow: -40vmin 0 5.993805835468792vmin currentColor;
}

.Bg-Profile span:nth-child(11) {
    color: #913175;
    top: 82%;
    left: 42%;
    animation-duration: 31s;
    animation-delay: -5s;
    transform-origin: 25vw 3vh;
    box-shadow: -40vmin 0 5.173857612758177vmin currentColor;
}

.Bg-Profile span:nth-child(12) {
    color: #913175;
    top: 58%;
    left: 39%;
    animation-duration: 28s;
    animation-delay: -29s;
    transform-origin: 21vw -13vh;
    box-shadow: 40vmin 0 5.316786592249929vmin currentColor;
}

.Bg-Profile span:nth-child(13) {
    color: #e9e8e8;
    top: 67%;
    left: 33%;
    animation-duration: 17s;
    animation-delay: -18s;
    transform-origin: -23vw 0vh;
    box-shadow: -40vmin 0 5.895207121889033vmin currentColor;
}

.Bg-Profile span:nth-child(14) {
    color: #e9e8e8;
    top: 80%;
    left: 39%;
    animation-duration: 26s;
    animation-delay: -45s;
    transform-origin: -12vw -13vh;
    box-shadow: 40vmin 0 5.8428313517215145vmin currentColor;
}

.Bg-Profile span:nth-child(15) {
    color: #e9e8e8;
    top: 97%;
    left: 14%;
    animation-duration: 18s;
    animation-delay: -42s;
    transform-origin: -13vw -14vh;
    box-shadow: -40vmin 0 5.26758376371672vmin currentColor;
}