.navbar {
    background: linear-gradient(to bottom, #1B1569, #6A56BA);
    color: #FFF;
    height: 45px;
    padding-left: 18px;
    position: relative;
}

.logoNav {
    font-weight: bold;
    font-size: 20px;
    background: #FFFA6E;
    background: linear-gradient(to top left, #FFFA6E 0%, #A569FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #e5ec79;

}

.MenuNav1 {
    font-weight: bold;
    font-size: 16px;
}

.MenuNav2 {
    font-weight: bold;
    font-size: 16px;
}

.MenuNav3 {
    font-weight: bold;
    font-size: 16px;
}